<head>
  <meta charset="UTF-8">
  <title>Weather in Sofia</title>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="script.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col-lg-4">
      <div class="day">
        <p class="city">Sofia</p>
        <u><p class="date">now</p></u>
        <img class="icon">
        <p class="weather-name"></p>
        <p>
          <span class="temp"></span>
          <span class="temp-units">&degC</span>
        </p>
        <p>
          <span class="wind-units">Wind speed: </span>
          <span class="wind"></span>
          <span class="wind-units"> meter/sec</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="day">
          <u><p class="date1"></p></u>
          <br>
          <img class="icon1">
          <p class="weather-name1"></p>
          <p>
            <span class="temp-min1"></span>
            <span class="temps-units">/</span>
            <span class="temp-max1"></span>
            <span class="temps-units">&degC</span>
          </p>
          <p>
            <span class="wind-units">Wind speed: </span>
            <span class="wind1"></span>
            <span class="wind-units"> meter/sec</span>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="day">
          <u><p class="date2"></p></u>
          <br>
          <img class="icon2">
          <p class="weather-name2"></p>
          <p>
            <span class="temp-min2"></span>
            <span class="temps-units">/</span>
            <span class="temp-max2"></span>
            <span class="temps-units">&degC</span>
          </p>
          <p>
            <span class="wind-units">Wind speed: </span>
            <span class="wind2"></span>
            <span class="wind-units"> meter/sec</span>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="day">
          <u><p class="date3"></p></u>
          <br>
          <img class="icon3">
          <p class="weather-name3"></p>
          <p>
            <span class="temp-min3"></span>
            <span class="temps-units">/</span>
            <span class="temp-max3"></span>
            <span class="temps-units">&degC</span>
          </p>
          <p>
            <span class="wind-units">Wind speed: </span>
            <span class="wind3"></span>
            <span class="wind-units"> meter/sec</span>
          </p>
        </div>
      </div>
  </div>
</div>

</body>

</html>