.weather {
   
    text-align: center;
}

.weather-name, .weather-name1, .weather-name2, .weather-name3 {
    font-size: 25px;
    margin: 0;
}

.temp {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
.temp-min1 {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}
.temp-min1, .temp-max1, .temp-min2, .temp-max2, .temp-min3, .temp-max3 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.temp-units {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}

.temps-units {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.wind, .wind1, .wind2, .wind3{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

.wind-units {
    font-size: 15px;
    margin: 0;
}

.row {
    justify-content: center;
    display: flex;
}

.date, .date1, .date2, .date3 {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.col-lg-4{
    justify-content: center;
    display: flex;
}

.day {
    box-shadow: 10px 10px 10px 10px rgba(214, 215, 216, 0.6);
    background: #fff;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.city {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}



